html,body{
	margin: 0;
	height: 100%;
	width: 100%;

}
.Caption{
	text-align: center;
	color: cyan;
}
.Team{
	margin-left: auto;
	margin-right: auto;
	border: 5px dashed black;
}
table{
	background-image: url(back.jpg);
	background-size: cover;
}
th,td,tr{
	border: 2px solid black;
	border: collapse;
	padding: 10px;
	text-align: center;
}